<% content_for :title do %>Quake dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="QuakeBoard" data-text="These results are from quake logs" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="game" data-view="Text" data-title="Current Game" data-height="200" data-width="200" style="background-color:#9F3333"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="kills" data-view="List" data-unordered="true" data-title="Kills/Deaths" data-moreinfo="Kills/Deaths per player"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kill_count" data-view="Number" data-title="Kill Count" data-moreinfo="1 kill evry 3 seconds" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="comments" data-view="Text" data-title="Comments" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
